@model print.Models.OrderViewModel

<div class="row">
    <h1>@Model.Datum.name</h1>
    <div class="thumbnail" style="background-image: url('@Model.Datum.imageURL')">

    </div>
    <div class="content">
        <ul>
            <li>@Model.Datum.description</li>
        </ul>
    </div>
</div>

@using (Html.BeginForm("PlaceOrder", "Home", FormMethod.Post))
{
    @Html.TextBoxFor(m => m.OrderRoot.orderCustomer.firstName);
    @Html.TextBoxFor(m => m.OrderRoot.items[0].quantity);
    @Html.TextBoxFor(m => m.OrderRoot.orderCustomer.countryCode);
    @Html.TextBoxFor(m => m.OrderRoot.shipments[0].countryCode);
    @Html.TextBoxFor(m => m.OrderRoot.orderCustomer.email);
    <input type="submit" value="Place Order" />
}